body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #333;


}
.square {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    position:relative;
}
.white {
    background-color: #fff;
}
.black {
    background-color: #888;
}
.square.highlight{
    cursor: pointer;
}
.square.highlight::after {
    content: '';
    width: 20px; 
    height: 20px;
    background-color: red; 
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.piece {
    position: absolute;
    height: 90%;
    width: 90%;
    cursor: pointer;
}

/* Conteneurs des pièces capturées */
.captured-white, .captured-black {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw; /* Taille max dépendant de l'écran */
    max-height: auto;
    gap: 0.5vw; /* Espacement entre les pièces */
}

.captured-white {
    top: 0; /* Espace depuis le haut pour réagir à la taille de l'écran */
    left: 0;
}

.captured-black {
    bottom: 0;
    right: 0;
}

.captured-piece {
    width: 6vw; /* Taille de la pièce réactive */
    height: 6vw;
    max-width: 50px; /* Taille max en pixels */
    max-height: 50px;
}