body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0%;
}
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #333;


}
.square {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    position:relative;
}
.white {
    background-color: #fff;
}
.black {
    background-color: #888;
}
.square.highlight{
    cursor: pointer;
}
.square.highlight::after {
    content: '';
    width: 20px; 
    height: 20px;
    background-color: red; 
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.piece {
    position: absolute;
    height: 90%;
    width: 90%;
    cursor: pointer;
}

/* Conteneurs des pièces capturées */
.captured-white, .captured-black {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw; /* Taille max dépendant de l'écran */
    max-height: auto;
    gap: 0.5vw; /* Espacement entre les pièces */
}

.captured-white {
    top: 0; /* Espace depuis le haut pour réagir à la taille de l'écran */
    left: 0;
}

.captured-black {
    bottom: 0;
    right: 0;
}

.captured-piece {
    width: 6vw; /* Taille de la pièce réactive */
    height: 6vw;
    max-width: 50px; /* Taille max en pixels */
    max-height: 50px;
}

.square.in-check {
    background-color: red !important;
}

/* Style de la pop-up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
    margin-bottom: 10px;
}

.popup-content p {
    margin-bottom: 20px;
}

.popup-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button {
    background-color: #4caf50;
    color: white;
}

#close-popup {
    background-color: #f44336;
    color: white;
}

#player-turn {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background: #888;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

#player-turn.white{
    color: #000000;
    background-color: #ffffff;
}

#player-turn.black {
    color: #ffffff;
    background-color: #000000;
}

.timer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#White-timer, #Black-timer {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

#White-timer {
    background-color: #ffffff; /* Blanc */
    color: #000000;
}

#Black-timer {
    background-color: #000000; /* Noir */
    color: #ffffff;
}

#White-timer:hover, #Black-timer:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Style pour l'interface */

.couleur-bois{
    /* Fond avec texture bois */
    background-image: url('../img/wood.jpg');
    background-size: cover; /* Recouvre toute la page */
    background-repeat: no-repeat; /* Pas de répétition */
    background-position: center; /* Centré */
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f4f4f9;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    z-index: 2;
}

.title {
    font-size: 5em;
    font-weight: bold;
    font-family: monospace;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(243, 243, 243, 1);
    margin-bottom: 20px;

}

.button {
    background-color: #7c4f27;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 30px;
}

.button:hover {
    background-color: #6c1e1e;
}

.setting {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 30px;
}

/* Style des pièces d'échecs */
.pieceInterface {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: fall linear;
}

/* Animation pour la chute */
@keyframes fall {
    from {
        transform: translateY(-60vh); /* Commence au-dessus de l'écran */
    }
    to {
        transform: translateY(60vh); /* Va jusqu'en bas de l'écran */
    }
}