body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0%;
}
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #333;
}
.square {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    position:relative;
}
.white {
    background-color: #fff;
}
.black {
    background-color: #888;
}

.piece {
    position: absolute;
    height: 90%;
    width: 90%;
}


/* Style pour l'interface */

.couleur-bois{
    /* Fond avec texture bois */
    background-image: url('../img/wood.jpg');
    background-size: cover; /* Recouvre toute la page */
    background-repeat: no-repeat; /* Pas de répétition */
    background-position: center; /* Centré */
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f4f4f9;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    z-index: 2;
}

.title {
    font-size: 5em;
    font-weight: bold;
    font-family: monospace;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(243, 243, 243, 1);
    margin-bottom: 20px;

}

.button {
    background-color: #7c4f27;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 30px;
}

.button:hover {
    background-color: #6c1e1e;
}

.setting {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 30px;
}

/* Style des pièces d'échecs */
.pieceInterface {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: fall linear;
}

/* Animation pour la chute */
@keyframes fall {
    from {
        transform: translateY(-60vh); /* Commence au-dessus de l'écran */
    }
    to {
        transform: translateY(60vh); /* Va jusqu'en bas de l'écran */
    }
}

